
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ReactModal__Overlay {
  z-index: 1000;
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}
.Modal {
  height: 55%;
  width: 60%;
  background-color: #ffffff;
  overflow: auto;
  position: relative;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  margin: 30px;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tabLink  {
  display: flex;
  alignItems:"center";
  justifyContent:"center";
}

.media {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cork {
  height: 10vmin;
  pointer-events: none;
  -ms-transform: translate(-50%, -50%);
}

.rulesCard {
  display: block;
  transitionDuration: 0.3s;
  height: 45vw;
}

.tags {
  display: flex;
  justify-content: start ;
  max-width: 400px;
  padding: 0;
}

.chips {
  margin: 5px;
}

.bistroMovieCard {
  display: block;
  transitionDuration: 0.3s;
  height: 50vw;
}

